
@{
    ViewData["Title"] = "ThanhToan";
}
<style>
    td {
    font-size:16px;
    font-weight:500;
    }
</style>
   
            <h1>Xác nhận thanh toán</h1>
            <table>
                <tr>
                    <td>@ViewBag.FullName</td>
                </tr>
                <tr>

                    <td>@ViewBag.Email</td>
                </tr>
                <tr>

                    <td>@ViewBag.Address</td>
                </tr>
                <tr>

                    <td>@ViewBag.Phone</td>
                </tr>
                <tr>

                    <td>@ViewBag.Message</td>
                </tr>
            </table>

