
@{
    ViewData["Title"] = "XacNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Quý khách đã đặt hàng thành công</h3>

@*<table>
    <tr>
        <td>@ViewBag.FullName</td>
    </tr>
    <tr>

        <td>@ViewBag.Email</td>
    </tr>
    <tr>

        <td>@ViewBag.Address</td>
    </tr>
    <tr>

        <td>@ViewBag.Phone</td>
    </tr>
    <tr>

        <td>@ViewBag.Message</td>
    </tr>
</table>*@
