@model IEnumerable<HomeShopping.Models.News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a asp-action="Create" class="btn btn-danger">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuickView)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsImage1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsImage2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsImage3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsImage4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paragraph1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paragraph2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paragraph3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paragraph4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsTypeID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuickView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDate)
            </td>
            <td>
                <img src="~/images/@item.NewsImage1" height="100"/>
            </td>
            <td>
                <img src="images/@item.NewsImage2" height="100" />
            </td>
            <td>
                <img src="images/@item.NewsImage3" height="100" />
            </td>
            <td>
                <img src="images/@item.NewsImage4" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paragraph1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paragraph2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paragraph3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paragraph4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsTypeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NewsID" class="btn btn-primary">Edit</a>

                <a style="margin-top:10px" asp-action="Delete" asp-route-id="@item.NewsID" class="btn btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
